body {
    background-color: rgb(248, 246, 242);
}

p {
    border-style:none;
    color: rgb(8, 8, 8);
    border-color: rgb(230, 116, 10);

}

h1 {
    padding-left:38%;
}

a {
    color: brown;
}

.futbols{
    border: 20px;
    border-color: black;
}

.redText{
    color: brown;
}

#specialButton{
    color: darkmagenta;
    background-color: blue;
}

div.full{
    min-height: 100px;
    background-color: rgb(234, 234, 241);
    display: grid;
    grid-template-columns: 2fr 4fr;
}

div.left{
    min-height: 40px;
    background-color: brown;
}

div.right{
    min-height: 400px;
    background-color: chartreuse;
}


.personal{

    background-color: antiquewhite;
    display: flex;
    flex-flow:row;
    grid-template-columns: 2fr 4fr;
    font: optional;
    
    
}

.work{
    padding: 10px;
    min-width: 75%;
    background-color: bisque;
}

.edu{
    padding: 10px;
    min-width: 75%;
    background-color: blanchedalmond;
}

.me{
    padding-left: 10px;
    max-width: 50%;
}

.all{    background-color: cornsilk;
    padding: 80px;
}

ul{
    font-style: italic;
    font-size:medium;
}

.hobbies{
    padding: 10px;
    min-width: 75%;
    background-color: rgb(238, 190, 119);
}

.l{
    display:block;
    padding: 10px 10px 10px 0;
    padding-right: 0%;
}



ul{
    list-style: none;
    padding: 0; 
    margin: 0; 
}

